@import "../../theme/theme.css";

.scrollbar{
    overflow: scroll;
    overflow-x: hidden;
}

.codebg {
  background-color: var(--codebg);
}

.codehead {
  background-color: var(--codehead);
  padding-top: 10px;
  padding-bottom: 10px;
}


.code-cyan{
  color:var(--code-cyan);
}
.code-yellow{
  color:var(--code-yellow)
}


.output::before, .output-two::before {
  content: "{";
}

.output::after {
  content: "}";
}

.output-two::after {
  content: "},";
}

/* ------------------------scroll Bar style-------------------------------- */

#style-1::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,.3);
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color:rgba(237, 10, 10, 0.3);
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(47, 85, 96);
}

/* ----------------------copyclipboard-------------------------- */

.copyclip{
 display: flex;
 justify-content: right;
 padding-top: 20px;
 padding-right: 15px;
}

.copyicon{
  width: 23px;
  height: 23px;
  color: gray;
}
.copyicon :hover {
  color: white;
}