.heading {
  font-size: 30px;
  font-weight: 700;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 21px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fdfdfd;
  color:var(--HeadingH1);
}
.heading2 {
  font-size: 23px;
  border-bottom: 1px solid #ccc;
  font-weight:500;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color:var(--HeadingH2);
}

.backroundP-tag{
  line-height: 1.9;
  font-size: 15px;
  background-color:var(--paragraphBackground);
  padding:20px;
}
